<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='app.js')}}"></script>
<body>
 <div class="login">
	<h1>Predict blood Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="col1" placeholder="Col1" required="required" />
      <input type="text" name="col2" placeholder="Col2" required="required" />
		<input type="text" name="col3" placeholder="Col3" required="required" />
    <input type="text" name="col4" placeholder="Col4" required="required" />

        <button type="submit">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>